<div class="field">
    <label *ngIf="label" class="label">{{ label }}</label>
    <div class="control">
        <input
            #input
            class="input"
            [ngClass]="{
                'is-danger': control.invalid && control.touched,
                'is-success': control.valid && control.touched
            }"
            [name]="name"
            [formControl]="control"
            [type]="type" 
            [placeholder]="placeholder"
        />
    </div>
    <ng-template [ngIf]="control.touched">
        <p class="help is-danger" *ngIf="control.errors?.required">
            The {{name}} field is required
        </p>
        <p class="help is-danger" *ngIf="control.errors?.minlength">
            The {{name}} field must be at least {{control.errors?.minlength.requiredLength}} characters
        </p>
        <p class="help is-danger" *ngIf="control.errors?.maxlength">
            The {{name}} field may not be greater than {{control.errors?.maxlength.requiredLength}} characters
        </p>
        <p class="help is-danger" *ngIf="control.errors?.email">
            The {{name}} field must be a valid email
        </p>
        <p class="help is-danger" *ngIf="control.errors?.exists">
            This email already registered
        </p>
    </ng-template>
</div>
