<section class="hero is-danger">
  <app-hero title="Poc Form" subtitle="Made with Angular"></app-hero>
</section>
<div class="section">
  <div class="container">
    <article class="template">
      <app-form-input label="Name" placeholder="Text input"></app-form-input>
      <app-form-input label="Email" placeholder="Email input"></app-form-input>

      <div class="field">
        <div class="control">
          <label class="label">Do you like this content?</label>
          <app-form-radio label="Yes"></app-form-radio>
          <app-form-radio label="No"></app-form-radio>
        </div>
      </div>

      <div class="control">
        <app-button>Submit</app-button>
      </div>
    </article>
    <!-- <progress class="progress is-small is-primary" max="100">15%</progress> -->
  </div>
</div>